* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Bank Gothic';
  src: url('../assets/font/bank-gothic.ttf');
  font-weight: bold;
  font-display: swap;
}

:root {
  --filter-background: linear-gradient(0deg, rgba(9, 15, 32, .3) 35%, rgba(10, 10, 10, 0.8) 85%);
}

a, button, h1, p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}